
/* base settings */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #eafdf8;
  line-height: 1.6rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;
  padding-left: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.pokemon-list {
  width: 500px;
  max-width: 80vw;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.loading-message {
  margin: 20px 15%;
  text-align: left;
}

.hidden {
  display: none;
}

li {
  text-align: center;
}

.pokemon-button {
  width: 60%;
  border-radius: 3px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
  margin: 4px 2px;
  text-transform: capitalize;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #0e9571;
  color: white;
}

.pokemon-button:hover {
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough */
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.pokemon-front-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  ul {
    margin: 2px auto;
    padding: 0;
  }

  .pokemon-button {
    width: 80%;
  }
}
