/* base settings */

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #eafdf8;
  line-height: 1.6rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;
  padding-left: 1rem;
  text-align: center;
}

.pokemon-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.loading-message {
  margin: 20px 15%;
  text-align: left;
}

.hidden {
  display: none;
}

input {
  max-width: 300px;
}

.btn {
  font-size: 1.1rem;
  font-weight: inherit;
  color: white;
  background-color: #003a70;
  transition-duration: 0.3s;
}

.pokemon-button:hover {
  color: #ffcb05;
  font-size: 1.2rem;
  background-color: #003a70;
}

.modal-body img {
  display: block;
  width: 50%;
  height: auto;
}

.page-container {
  margin-top: 130px;
}

nav {
  background: #eafdf8;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  input {
    max-width: 200px;
    margin-top: 20px;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .page-container {
    margin-top: 170px;
  }
}
