
/* base settings */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #eafdf8;
  line-height: 1.6rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;
  padding-left: 1rem;
  text-align: center;
}

.pokemon-list {
  width: 500px;
  max-width: 80vw;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.loading-message {
  margin: 20px 15%;
  text-align: left;
}

.hidden {
  display: none;
}

input {
  max-width: 300px;
}

.btn {
  font-size: 1.1rem;
  font-weight: inherit;
  color: white;
  background-color: #0e9571;
  transition-duration: 0.3s;
}

.pokemon-button:hover {
  color: black;
  font-size: 1.2rem;
  background-color: #0e9571;
}

.modal-body img {
  display: block;
  width: 50%;
  height: auto;
}

.container {
  margin-top: 60px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  input {
    max-width: 200px;
  }
}
